/RemoteSystemsTempFiles
/.metadata
*.o
/tp0/tp0
/tp0/basic_test
/tp0/multiply_test
/tp0-2.0/.project
/tp0-2.0/.cproject
/tp0-2.0/tp0
/tp1/basic_test
/tp1/multiply_test
/tp1/tp1
/tp1/basic_test
/tp1/multiply_test
/tp1/.project
/tp0-2.0/.cproject
/tp0-2.0/tp0
/tp0-2.0/basic_test
/tp0-2.0/multiply_test
/tp2/tp2
/tp2/.project
/tp2/.cproject
/tp2/out.txt
